In [11]:
import pandas as pd
import numpy as np 
import os

# Loading and Preprocessing Data

## Crime codes Data

The code mapped with the crime types

In [10]:
codes = pd.read_excel('data/crimes_raw/crime_codes.xlsx')
codes

     CODE                                       NAME
0     612           LARCENY PURSE SNATCH - NO FORCE
1     613                        LARCENY SHOPLIFTING
2     615    LARCENY THEFT OF MV PARTS & ACCESSORIES
3    1731                                     INCEST
4    3111                  LICENSE PREMISE VIOLATION
..    ...                                        ...
571  1806  DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS
572  1807  DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS
573  1610    HUMAN TRAFFICKING - COMMERCIAL SEX ACTS
574  2010                              HOME INVASION
575  1620  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE

[576 rows x 2 columns]

## Crime Data

The columns are the same, but for different years, the time format of when the crime occurred might be a little bit different, so made them the same date time format.

In [75]:
#write code to read in file from the data/crime_raw folder for crime_year 2015 to 2023 and format the Occurred_on_date column as a datetime object


# Directory where the Excel files are located
directory = 'data/crimes_raw/'

# List to store dataframes for each year
dataframes = []

# Loop through each year from 2015 to 2023
for year in range(2015, 2024):
    filename = os.path.join(directory, f'crime{year}.csv')
    print(filename)
    if os.path.exists(filename):
        # Read file
        df = pd.read_csv(filename)
        
        # Parse 'Occurred_on_date' column as datetime
        
        df['OCCURRED_ON_DATE'] = df['OCCURRED_ON_DATE'].str.split('+').str[0]

        # Convert the 'Occurred_on_date' column to datetime objects with correct format
        df['OCCURRED_ON_DATE'] = pd.to_datetime(df['OCCURRED_ON_DATE'], format='%Y-%m-%d %H:%M:%S')

        #df['OCCURRED_ON_DATE']= df['OCCURRED_ON_DATE'].apply(lambda x: x.tz_localize(None))
        
        # Append the dataframe to the list
        dataframes.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined dataframe
combined_df.head()

data/crimes_raw/crime2015.csv
data/crimes_raw/crime2016.csv
data/crimes_raw/crime2017.csv
data/crimes_raw/crime2018.csv
data/crimes_raw/crime2019.csv

/var/folders/hp/6dmmpscs1k102dtp0nj9snw40000gn/T/ipykernel_13783/2511399115.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

data/crimes_raw/crime2020.csv

/var/folders/hp/6dmmpscs1k102dtp0nj9snw40000gn/T/ipykernel_13783/2511399115.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

data/crimes_raw/crime2021.csv

/var/folders/hp/6dmmpscs1k102dtp0nj9snw40000gn/T/ipykernel_13783/2511399115.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

data/crimes_raw/crime2022.csv

/var/folders/hp/6dmmpscs1k102dtp0nj9snw40000gn/T/ipykernel_13783/2511399115.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

data/crimes_raw/crime2023.csv

/var/folders/hp/6dmmpscs1k102dtp0nj9snw40000gn/T/ipykernel_13783/2511399115.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I172040657,2629,Harassment,HARASSMENT,C11,397,NaN,2015-06-15,2015,6,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
1,I182061268,3201,Property Lost,PROPERTY - LOST,NaN,,NaN,2015-06-15,2015,6,Monday,0,Part Three,BERNARD,NaN,NaN,NaN
2,I162013546,3201,Property Lost,PROPERTY - LOST,B3,433,NaN,2015-06-15,2015,6,Monday,0,Part Three,NORFOLK ST,42.283634,-71.082813,"(42.28363434, -71.08281320)"
3,I152051083,3115,Investigate Person,INVESTIGATE PERSON,A7,20,NaN,2015-06-15,2015,6,Monday,0,Part Three,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
4,I152059178,2647,Other,THREATS TO DO BODILY HARM,C11,359,NaN,2015-06-15,2015,6,Monday,0,Part Two,WASHINGTON ST,42.293606,-71.071887,"(42.29360585, -71.07188650)"

In [24]:
len(combined_df)
print(pd.unique(combined_df['YEAR']))

[2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [82]:
print(combined_df.dtypes)

INCIDENT_NUMBER                object
OFFENSE_CODE                    int64
OFFENSE_CODE_GROUP             object
OFFENSE_DESCRIPTION            object
DISTRICT                       object
REPORTING_AREA                 object
SHOOTING                       object
OCCURRED_ON_DATE       datetime64[ns]
YEAR                            int64
MONTH                           int64
DAY_OF_WEEK                    object
HOUR                            int64
UCR_PART                       object
STREET                         object
Lat                           float64
Long                          float64
Location                       object
dtype: object

In [21]:
# Look at the unique values of each column:
pd.unique(combined_df['OFFENSE_CODE_GROUP'])

array(['Harassment', 'Property Lost', 'Investigate Person', 'Other',
       'Confidence Games', 'Search Warrants', 'Fraud',
       'Larceny From Motor Vehicle', 'Drug Violation', 'Vandalism',
       'Simple Assault', 'Violations', 'Medical Assistance', 'Towed',
       'Criminal Harassment', 'Firearm Violations', 'Firearm Discovery',
       'Larceny', 'Aggravated Assault', 'Warrant Arrests', 'Auto Theft',
       'Investigate Property', 'Motor Vehicle Accident Response',
       'Property Found', 'Residential Burglary',
       'Restraining Order Violations', 'Verbal Disputes',
       'Police Service Incidents', 'Fire Related Reports',
       'Missing Person Located', 'Other Burglary', 'Counterfeiting',
       'License Plate Related Incidents', 'Missing Person Reported',
       'Disorderly Conduct', 'Service', 'Commercial Burglary', 'Robbery',
       'Ballistics', 'Recovered Stolen Property',
       'Assembly or Gathering Violations',
       'Offenses Against Child / Family', 'Property Related Damage',
       'License Violation', 'Auto Theft Recovery', 'Prostitution',
       'Embezzlement', 'Liquor Violation', 'Landlord/Tenant Disputes',
       'Operating Under the Influence', 'Bomb Hoax', 'Evading Fare',
       'Prisoner Related Incidents', 'Arson', 'Harbor Related Incidents',
       'Explosives', 'Homicide', 'Aircraft', 'Phone Call Complaints',
       'Gambling', 'INVESTIGATE PERSON', 'Burglary - No Property Taken',
       'Manslaughter', 'HOME INVASION',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'HUMAN TRAFFICKING',
       'Biological Threat', nan], dtype=object)

In [33]:
print(pd.unique(combined_df['DAY_OF_WEEK']))
print(pd.unique(combined_df["DISTRICT"]))
len(pd.unique(combined_df["REPORTING_AREA"]))
print(pd.unique(combined_df["UCR_PART"]) )
print(pd.unique(combined_df["SHOOTING"])  )

['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']
['C11' nan 'B3' 'A7' 'B2' 'A1' 'D4' 'E18' 'D14' 'C6' 'E5' 'A15' 'E13'
 'External' 'Outside of']
['Part Two' 'Part Three' 'Part One' 'Other' nan]

array([nan, 'Y', 0, 1], dtype=object)

In [36]:

       
len(pd.unique(combined_df["STREET"]) )

19248

In [83]:
# push the combined_df to the data/crimes_combined folder
#because the df is large, take the years 2015 to 2020 as combined_df1
#and 2021 to 2024 as combined_df2
combined_df1 = combined_df[combined_df['YEAR'] <= 2020]
combined_df2 = combined_df[combined_df['YEAR'] > 2020]

In [84]:
combined_df1.to_pickle('data/crimes_combined/combined_df1.pkl')
combined_df2.to_pickle('data/crimes_combined/combined_df2.pkl')

In [85]:




# check whether the ocurred_on_date column is in datetime format
combined_df2[combined_df2['YEAR'] == 2023]['OCCURRED_ON_DATE'].dtypes

dtype('<M8[ns]')